.pages-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.pages-container .pages {
  margin-left: 5px;
  cursor: pointer;
}

.pages:active {
  transform: translateY(2px);
  color: #003271;
}
